torch
torchvision
torchaudio
pyquaternion
pyyaml
rospkg
pexpect
mujoco
dm_control
scipy>=1.11.0
opencv-python
matplotlib
einops
packaging
h5py
ipython
diffusers
termcolor
imageio
onnx
pyttsx3


Pillow
modern_robotics
msgpack
numpy
pyrealsense2>=2.56.1
requests
tyro
websockets
